.intro {
    min-height: 47rem;
    display: grid;
    grid-template-rows: 30% 70%;

    .intro1 {
        width: 50%;
        overflow: hidden;
        animation: revealText 5s ease-in;
        margin-left: 3rem;
        

        #welcome {
            color: #000000;
            font-family: Audiowide, cursive, sans-serif;
            font-size: 11rem;
            -webkit-text-stroke: .1px #ffffff;
            text-transform: uppercase;
        }

        #welcome::before {
            content: attr(data-text);
            color: #FF44CC;
            height: 25%;
            width: 0;
            position: absolute;
            -webkit-text-stroke: 0vw #000000;
            animation: slideright 3s linear forwards;
            overflow: hidden;
        }
    }
}

@keyframes slideright {
    0% {
        width: 0%;
    }

    99% {
        height: 25%;
        width: 50%;
    }

    100% {
        height: 25%;
        width: 50%;
        color: #000;
        -webkit-text-stroke: .1px #FF44CC;
    }
}