.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 10rem;

    .navOne {
        display: flex;
        align-items: center;

        @include respond(phone) {
            justify-content: space-between;
        }

        li {
            position: relative;
            cursor: pointer;
            margin: 0 3rem;
            color: $white;
            list-style: none;
            font-size: 2.1rem;
            font-family: Akaya+Telivigala, cursive, sans-serif;

            &:hover {
                color: #808080;
            }

            @include respond(phone) {
                font-size: 1.8rem;
                margin: 0rem 1rem;
            }

            @include respond(tab) {
                font-size: 2rem;
                margin: 0 1.5rem;
            }
        }

        li::after {
            top: 110%;
            left: 0;
            content: "";
            height: 1px;
            width: 0;
            position: absolute;
            transition: 1s ease;
        }

        li:hover:after {
            width: 100%;
            background-color: #fff;
        }
    }

    .navTwo {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            justify-content: right;
        }

        .list {

            a {
                margin: 0 2rem;
                text-decoration: none;
                font-size: 2.5rem;
                color: #fff;
                transition: 0.7s ease-in-out;
    
                @include respond(phone) {
                    display: none;
                }

                @include respond(tab) {
                    margin: 0 1rem;
                    font-size: 2.1rem;
                }
    
                &:hover {
                    color: #808080;
                }
            }
        }

        .hamburger {
            cursor: pointer;
            margin-right: 1rem;
            justify-self: end;
            display: none;
            flex-direction: column;
            justify-content: space-between;

            @include respond(phone) {
                display: flex;
            }

            #hamburg1 {
                margin: 0 0 1rem 0;
            }

            span {
                border: .1px solid #fff;
                width: 25px;
                transition: .7s ease-in-out;
            }
        }
    }

    .mobileMenu {
        background: #fff;
        position: absolute;
        top: 10rem;
        height: 0;
        width: 100vw;
        transition: 0.7s ease-in-out;

        .mobileContent {
            height: 100%;
            display: none;
            flex-direction: column;
            align-items: center;

            h1 {
                cursor: pointer;
                font-family: 'Mukta', cursive, sans-serif;
                font-size: 3rem;
                margin: 2rem 0;
            }
    
            li {
                list-style: none;
                margin: 3rem 0;

                a {
                    text-decoration: none;

                    i {
                        font-size: 4rem;
                        color: #000;
                        transition: 0.7s ease-in;

                        &:hover {
                            color: #808080;
                        }
                    }
                }
            }
        }
    }
}
