.navbar {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 10rem;

    .navOne {
        display: flex;
        align-items: center;

        @include respond(phone) {
            justify-content: space-between;
        }

        li {
            position: relative;
            cursor: pointer;
            margin: 0 3rem;
            color: $white;
            list-style: none;
            font-size: 2.1rem;
            font-family: Akaya+Telivigala, cursive, sans-serif;

            &:hover {
                color: #808080;
            }

            @include respond(phone) {
                font-size: 1.8rem;
                margin: 0rem 1rem;
            }

            @include respond(tab) {
                font-size: 2rem;
                margin: 0 1.5rem;
            }
        }

        li::after {
            top: 110%;
            left: 0;
            content: "";
            height: 1px;
            width: 0;
            position: absolute;
            transition: 1s ease;
        }

        li:hover:after {
            width: 100%;
            background-color: #fff;
        }
    }

    .navTwo {
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(phone) {
            justify-content: right;
        }

        .list {

            a {
                margin: 0 2rem;
                text-decoration: none;
                font-size: 2.5rem;
                color: #fff;
                transition: 0.7s ease-in-out;
    
                @include respond(phone) {
                    display: none;
                }

                @include respond(tab) {
                    margin: 0 1rem;
                    font-size: 2.1rem;
                }
    
                &:hover {
                    color: #808080;
                }
            }
        }

        .hamburger {
            cursor: pointer;
            margin-right: 1rem;
            justify-self: end;
            display: none;
            flex-direction: column;

            @include respond(phone) {
                display: flex;
            }

            span {
                color: #fff;
                border: .1px solid #fff;
                width: 20px;
                //margin: 3px 0;
                transition: .7s ease-in-out;
            }
        }
    }
}
