.projects {
    min-height: 60rem;
    display: flex;
    flex-direction: column;


    .proTitle {
        align-self: center;

        h1 {
            color: #fff;
            font-size: 3rem;
            font-family: Audiowide, cursive, sans-serif;
        }
    }

    #weatherBox {
        align-self: flex-start;
    }

    .proBox {
        border: solid red;
        margin: 2rem 0 2rem 2rem;
        align-self: center;
        display: grid;
        grid-template-columns: 75% 25%;
        height: 30rem;
        width: 80%;

        .proBox1 {
            
            #weatherapp {
                height: 100%;
                width: 90%;
            }
        }

        .proBox2 {
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 50%;

            h1 {
                cursor: pointer;
                color: #fff;
                font-size: 2rem;
                font-family: Audiowide, sans-serif, cursive;
            }

            li {
                cursor: pointer;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.8rem;
                    font-family: Audiowide, sans-serif, cursive;

                    &:hover {
                        color: #808080;
                    }
                }
            }
        }
    }
}