.projects {
    position: relative;
    margin: 1rem 0 0 0;
    min-height: 60rem;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
        min-height: 15rem;
    }

    .parrow {   
        top: 50%; 
        display: inline-block;
        position: absolute;
        cursor: pointer;
        z-index: 100;
        width: 25px;
        padding: 15px;
        font-size: 1.5rem;
        color: #fff;
        border: .1px solid #fff;
        border-radius: 90%;
        text-align: center;
        transition: 0.7s ease-in;

        &:hover {
            background: #fff;
            color: #000;
        }

        @include respond(phone) {
            font-size: 1rem;
            width: 15px;
            padding: 5px;
            top: 50%;
            background: #000;
            color: #fff;
        }

        @include respond(tab) {
            top: 38%;
            width: 25px;
            padding: 10px;
        }
    }

    #pright {
        left: 90%;

        // @include respond(phone) {
        //     left: 89%;
        // }

        // @include respond(tab) {
        //     left: 94%;
        // }
    }

    #pleft {
        left: 3%;

        // @include respond(phone) {
        //     left: 5%;
        // }
    }

    .proTitle {
        margin: 3rem 0;
        align-self: center;

        h1 {
            color: #fff;
            font-size: 3rem;
            font-family: Audiowide, cursive, sans-serif;
        }
    }

    #weatherBox {
        align-self: flex-start;
    }

    .proContainer {
        position: relative;
        align-self: center;
        display: flex;
        height: 45rem;
        width: 80%;
        overflow: hidden;

        @include respond(phone) {
            width: 100%;
            height: 30rem;
        }

        .proBox {
            position: absolute;
            align-self: center;
            display: grid;
            grid-template-columns: 80% 20%;
            height: 100%;
            width: 100%;
            transition: 0.7s ease-in-out;
    
            @include respond(phone) {
                margin: 0;
                width: 100%;
                grid-template-columns: 1fr;
            }
    
            @include respond(tab) {
                margin: 0;
                width: 100%;
                grid-template-columns: 1fr;
            }
    
            .proBox1 {
                justify-self: center;
                align-self: center;
                height: 70%;
                width: 70%;

                @include respond(phone) {
                    height: 90%;
                    width: 90%;
                }
                
                #weatherapp {
                    height: 100%;
                    width: 100%;
    
                    @include respond(phone) {
                        width: 100%;
                    }
    
                    @include respond(tab) {
                        width: 100%;
                    }
                }
            }
    
            .proBox2 {
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 50%;
    
                @include respond(phone) {
                    height: 100%;
                    flex-direction: row;
                    justify-content: space-around;
                }
    
                @include respond(tab) {
                    height: 100%;
                    flex-direction: row;
                    justify-content: space-around;
                }
    
                h1 {
                    cursor: pointer;
                    color: #fff;
                    font-size: 2rem;
                    font-family: Audiowide, sans-serif, cursive;
                }
    
                li {
                    cursor: pointer;
                    list-style: none;
    
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.8rem;
                        font-family: Audiowide, sans-serif, cursive;
    
                        &:hover {
                            color: #808080;
                        }
                    }
                }
            }
        }
    }
}